name: example
description: An example project that uses Open Runtime recommended lints
version: 0.1.0
publish_to: none

environment:
  sdk: '>=2.12.0 <3.0.0'

dev_dependencies:
  runtime_lints: ^0.1.0
